.bg {
  position: absolute;
  width: 100vw;
  height: 100vw;
}

.container-fluid {
  font-family: 'Courier New', Courier, monospace;
  color: antiquewhite;
}

body {
  width: 100%;
  height: 100%;
  position: relative;
  font-family: 'Courier New', Courier, monospace;
  color: antiquewhite;
}

.main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2.5em;
} 

.search-container {
  display: flex;
  flex-direction: column;
  min-width: 700px;
  border: 1px solid rgb(49, 23, 110);
  border-radius: 5px;
  padding: 1em;
  margin: 1em;
  background-color: rgb(6, 2, 15);
}

.search {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

i {
  margin-right: 0.5em;
}

textarea {
  border: none;
  outline: none;
  height: 30px;
  resize: none;
  margin-top: 1em;
  background-color:rgb(33 37 41);
  color: antiquewhite;
  width: -webkit-fill-available;
}


.results-nom-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.results-container {
  min-width: 342px;
  border: 1px solid rgb(97, 23, 110);
  border-radius: 5px;
  padding: 1em;
  margin-right: 1em;
  background-color: rgb(22, 5, 26);
}

.article {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0.5em;
  max-width: 340px;
  border-bottom: 2px dotted rgb(80, 7, 98);
  flex-wrap: wrap;
}

.info {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.nominations-container {
  min-width: 342px;
  border: 1px solid rgb(23, 24, 110);
  border-radius: 5px;
  padding: 1em;
  background-color:  rgb(5, 6, 27);
}

#logo {
  margin: 0.2em 0em 0em 0em;
}

button {
  background-color: rgb(61, 8, 147);
  border-radius: 0.5em;
  border: 1px solid rgb(103, 29, 221);
  color: antiquewhite;
}

button:hover {
  background-color: rgb(121, 62, 216);
}